@charset "utf-8";
/* CSS Document */

.contact {
	display: inline-flex;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}

.contactType {
	width: 5em;
}

img.displayPicture {
	position: absolute;
	right: 0;
	height: 500px;
}

h2 {
	font-size: 3em;
}